

.login, .register {
    @extend .container;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    min-height: 100vh;
    width: 100%;

    &__head, &__form {
        @extend .container;

        max-width: 400px;
    }

    &__head {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    &__logo {
        width: 80%;
        max-width: 300px;
    }

    &__err {
        display: block;
        text-align: center;
        font-size: 0.8em;
        color: $red;
        font-weight: 600;
        opacity: 0;

        transition: opacity 0.25s ease-in-out;

        &--show {
            opacity: 1;
        }

        & > img {
            height: 1em;
            width: auto;
            padding: 0.1em;
            margin: 0 0.5em;
            position: relative;
            top: 0.1em;
        }
    }

    &__err--show {
        @extend .login__err;
    }

    & .input {
        text-align: center;
    }

    & .button {
        width: 100%;
        text-align: center;
        margin: 0.25rem 0;

        &-secondary {
            width: calc(100% - 2.8em);
        }
    }
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    max-width: unset;
    padding: 1rem;
    background: #fff;
    z-index: 100;
    grid-template-rows: 4fr 6fr;

    &__reg-link {
        border-bottom: 1px solid #d3d3d3;
        color: grey;
        display: block;
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin: 0.5em auto;
        padding: 0.75em 0;
        text-decoration: none;
        font-size: 0.8em;
    }

    &__head {
        position: relative;
        height: 100%;
    }

    &__logo {
        margin: 0 auto;
    }

    &__x {
        height: 2em;
        padding: 1em;
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 0;

    }
}

.register {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    max-width: unset;
    padding: 1rem;
    background: $dark_bg;
    grid-template-rows: 2fr 8fr;
    z-index: 100;

    transition: all 0.75s cubic-bezier(0.58, -0.26, 0.45, 1.33);

    &__head {
        display: flex;
        align-self: flex-end;
        justify-content: center;
    }

    &__logo {
        width: 50%;
        max-width: 200px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input {
        color: #fff;

        &::placeholder {
            color: #fff;
        }
    }

    .button--primary {
        background: #fff;
        color: $dark_bg;
    }
}
