.explore {
    @extend .container;
    padding-top: 2em;
    overflow: hidden;
    overflow-y: auto;

    &__header {
        background: #F3F3F3;
        border-radius: 1em;
        width: calc(100% - 4em);
        padding: 2em;
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;

        &-art {
            width: 100%;
            height: auto;
            max-width: 250px;
            margin: 0 auto;
            margin-bottom: 2em;
        }

        &-title {
            font-weight: 600;
            font-size: 2em;
            margin: 0;
            letter-spacing: -0.025em;
        }

        &-link {
            font-weight: 600;
            font-size: 1em;
            display: flex;
            align-items: center;

            & > img {
                height: 1em;
                margin-left: 0.5em;
            }
        }
    }

    &__clear-button {
        font-size: 1em;
        font-family: $primary_font;
        padding: 0.5em 1em;
        background: none;
        display: flex;
        align-items: center;
        border: 1px solid #e3e3e3;
        border-radius: 5em;
        height: max-content;

        margin-left: 2em;

        & > img {
            margin-right: 0.5em;
        }
    }

    &__main {

        &--alone {
            @extend .explore__main;
            padding-top: 1em;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 0.75em;
        }

        &-title {
            font-weight: 600;
            font-size: 2.5em;
            margin: 0;
            letter-spacing: -0.025em;
        }

        &-orderby {
            display: flex;
            align-items: center;

            & > p {
                margin-right: 1em;
            }

            & > .button {

                &-primary, &-secondary{
                    padding: 0.5em 1.5em;
                    height: 3em;
                    margin: 0 0.5em;
                }
            }
        }
    }

    &__recipe-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__recipe {
        width: 100%;
        max-width: 600px;
        padding: 2em 0;

        &:first-child {
            padding-top: 0;
        }

        &-image {
            border-radius: 1em;
            width: 100%;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 50%;
        }

        &-info {
            padding: 0 1em;
        }

        &-title {
            font-size: 1.75em;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 0.5em;
        }

        &-author {
            font-size: 1.25em;
            color: grey;
            margin: 0;
        }
    }
}

@media screen and (min-width: 780px){
    .explore {
        
        &__header {
            flex-direction: row-reverse;
            align-items: center;
            padding: 2em 4em;
            width: calc(100% - 8em);

            &-info {
                max-width: 400px
            }

            &-title {
                font-size: 3.5em;
                line-height: 100%;
            }

            &-art {
                max-width: 400px;
            }
        }

        &__main-info {
            flex-direction: row;
        }

        &__recipe-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__recipe {
            width: calc(1005 - 2em);
            max-width: 350px;
            padding: 0 1em;
            margin: 2em auto;

            &-title {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

@media screen and (min-width: 1200px){
    .explore__recipe-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .explore__recipe {
        max-width: 300px;
    }
}