.navigation {
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;

    &__offline {

        background: #eeeeee;
        border-radius: 1em;

        font-size: 1.2em;
        font-weight: 400;
        padding: 0.5em 1em;
        position: absolute;
        top: -2em;
        left: calc(50% - 130px);

        & > span {
            margin-left: 0.5em;
            font-weight: 600;
        }
    }

    &__list {
        @extend .container;
        border-top: 2px solid #e3e3e3;
        padding: 0;
        display: flex;
        justify-content: space-around;
        max-width: 600px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        color: inherit;
        font-size: 0.8em;
        padding: 2em 1em;

        opacity: 0.3;

        &.active {
            opacity: 1;
        }

        & > img {
            height: 2em;
            width: auto;
        }
    }
}

.overlay {
    background: rgba($color: #000000, $alpha: 0.25);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    transition: all 0.5s ease-in-out;
}

.overlay--hidden {
    @extend .overlay;
    background: rgba($color: #000000, $alpha: 0);
    pointer-events: none;
}

.slide-menu {
    background: #fff;
    height: 100%;
    width: 80%;
    max-width: 400px;
    position: fixed;
    padding: 1em;
    right: 0;
    text-align: center;

    transition: all 0.5s cubic-bezier(0.44, -0.23, 0.57, 1);

    &__name {
        font-size: 1.5em;
    }

    // &__create-link {
    //     // position: absolute;
    //     // bottom: 0;
    // }

    &__link {
        background: #e3e3e3;
        color: $dark_bg;
    }

    &__content {
        @extend .container;

        height: 100%;
        display: grid;
        grid-template-rows: 3fr 5fr 2fr;
        
        
        &-main {
            font-size: 1.2em;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .button {
            width: 100%;

            &-primary {
                width: calc(100% - 2.5em);
            }

            &-secondary {
                width: calc(100% - 2.5em);
            }
            
        }

        .button, .button-primary, .button-secondary {
            font-size: 0.8em;
            margin: 0.5em 0;
        }
    }
}

.slide-menu--hidden {
    @extend .slide-menu;
    right: -100%;
}


@media screen and (min-width:780px){

    .navigation {
        font-size: 0.9em;

        .nav-container {
            height: 150px;
            width: 90%;
            max-width: 1080px;
            grid-template-columns: 7fr 3fr;
            display: grid;
            align-items: center;
            margin: 0 auto;
            
        }

        &-link {
            color: #a8a8a8;

            &--active {
                color: #000;
            }
        }

        &__sect {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        &__nav {
            min-width: 450px;
            & > a {
                text-decoration: none;
                padding: 0.5em 2.5em;
                font-weight: 500;
            }
        }
        &__logo {
            padding-right: 2em;
        }

        &__offline {
            margin-right: 1em;
            font-weight: 600;
        }

        &__auth {
            display: flex;
            justify-content: flex-end;
            justify-self: flex-end;
            position: relative; 
            
            padding: 1em 0;
            width: max-content;
        }

        &__profile-droplink {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0.5em 1.5em;
            border-radius: 5em;
            transition: background 0.25s ease-in-out;

            & > img {
                height: 1.5em;
                width: auto;
                margin-left: 0.5em;
            }

            &:hover {
                background: #ececec;
            }
        }

        .button-primary {
            padding: 1em 2em;
        }
    }

    .dropmenu {
        background: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 1em;
        top: 4em;
        right: -1.5em;
        display: none;
        width: max-content;

        &.active {
            display: flex;
        }

        &__link {
            color: inherit;
            text-decoration: none;
            padding: 1em 0.5em;
            text-align: left;
            font-weight: 400;
            border-bottom: 1px solid #e3e3e3;
            cursor: pointer;

            &, &.button {
                font-size: 1em;
            }

            &.button-primary {
                color: #fff;
            }

            &:last-child, &.button-primary {
                border: none;
            }
        }
    }

}