.navigation {
    background: #fff;
    display: flex;
    align-items: center;

    &__list {
        @extend .container;
        border-top: 2px solid #e3e3e3;
        padding: 1em 0;
        display: flex;
        justify-content: space-around;
        max-width: 600px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        color: inherit;
        font-size: 0.8em;
        padding: 0 1em;

        opacity: 0.3;

        &.active {
            opacity: 1;
        }

        & > img {
            height: 2.25em;
            width: auto;
            margin-bottom:  0.5em;
        }
    }
}

.overlay {
    background: rgba($color: #000000, $alpha: 0.25);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    transition: all 0.5s ease-in-out;
}

.overlay--hidden {
    @extend .overlay;
    background: rgba($color: #000000, $alpha: 0);
    pointer-events: none;
}

.slide-menu {
    background: #fff;
    height: 100%;
    width: 80%;
    max-width: 400px;
    position: fixed;
    padding: 1em;
    right: 0;

    transition: all 0.5s cubic-bezier(0.44, -0.23, 0.57, 1);

    &__content {
        @extend .container;

        height: 100%;
        display: grid;
        grid-template-rows: 3fr 5fr 2fr;
        text-align: center;
        
        &-main {
            font-size: 1.2em;
        }

        .button {
            width: 100%;

            &-primary {
                width: calc(100% - 2em);
            }
            
        }

        .button, .button-primary {
            font-size: 0.8em;
        }
    }
}

.slide-menu--hidden {
    @extend .slide-menu;
    right: -100%;
}