.saved-recipes {
    @extend .container;

    display: grid;
    grid-template-rows: 2.5fr 7.5fr;

    &__header {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 2em;
        margin: 0;
    }

    &__recipe {
        width: 90%;
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }

    &__recipe-list {
        list-style: none;
        padding: 0;
        margin: 0;

        & > li {
            font-size: 1.1em;
            padding: 1em;
            border-bottom: 1px solid #cfcfcf;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}