.show-recipe {
    @extend .container;

    display: grid;
    grid-template-rows: 35% 65%;
    height: 100%;
    overflow: hidden;

    & > main {
        overflow-y: auto;
    }

    &__header {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 2em;
        margin: 0;
    }

    &__author {
        font-size: 0.9em;
        margin: 0.5em;
    }

    &__save-list {
        @extend .container;

        border-radius: 5em;
        display: flex;
        border: 1px solid grey;
        font-size: 0.9em;
        padding: 0.25em;
        margin-top: 1em;
        justify-content: space-around;
    }

    &__save-recipe, &__save-ingredient, &__delete-recipe {
        margin: 0;
        width: inherit;
        padding: 0.5em 1em;

        & > img {
            height: 1.25em;
            position: relative;
            top: 2px;
        }
    }

    &__save-recipe--saved {
        @extend .show-recipe__save-recipe;

        background: #BFE8BE;
        border-radius: 5em;
        color: #6B9D69;

        & > img {
            opacity: 0.25;
        }
    }

    &__save-ingredient--saved {
        @extend .show-recipe__save-ingredient;

        background: #BFE8BE;
        border-radius: 5em;
        color: #6B9D69;

        & > img {
            opacity: 0.25;
        }
    }

    &__recipe {
        width: 90%;
        list-style: none;
        padding: 0;
        margin: 0 auto;

        &-ingredient {
            border-bottom: 1px solid #e3e3e3;

            & > p > span {
                margin-left: 1em;
                color: grey;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }


    &__ingredients {
        @extend .container;
        border: 1px solid #e3e3e3;
        border-radius: 1em;
        padding-bottom: 0em;

        & > h2 {
            padding: 1em 2em;
            text-align: center;
            margin-top: 0;
            font-size: 1.2em;
            margin-bottom: 0;

            display: flex;
            align-content: center;
            justify-content: center;

            & > img {
                margin-left: 1em;
            }
        }

        & > ul {
            padding: 0;
            height: 0;
            overflow: hidden;
            list-style: none;
            margin: 0;

            & > p {
                font-size: 0.8em;
                color: grey;
                text-align: center;
            }
        }
    }

    &__ingredients--expanded {
        @extend .show-recipe__ingredients;
        padding-bottom: 0.5em;

        & > h2 {
            border-bottom: 1px solid #e3e3e3;
        }

        & > ul {
            height: auto;
            overflow: auto;
            padding: 0 2em;
        }
    }
}