body {
  font-size: 14px;
  font-family: "Questrial", "arial", sans-serif;
  margin: 0;
}

.blur {
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

#root {
  display: grid;
  grid-template-rows: 8.5fr 1.5fr;
  position: fixed;
  height: 100%;
  width: 100%;
}

.container,
.saved,
.create-recipe__footer,
.create-recipe,
.slide-menu__content,
.navigation__list,
.login__head,
.login__form,
.register__head,
.register__form,
.login,
.register {
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
}

.input {
  width: calc(100% - 2rem);
  padding: 1rem;
  background: none;
  border: 1px solid #e3e3e3;
  border-radius: 0.25rem;
  color: grey;
  margin: 0.25rem 0;
  font-size: 0.9em;
}

.input::-webkit-input-placeholder {
  font-family: "Questrial", "arial", sans-serif;
}

.input::-moz-placeholder {
  font-family: "Questrial", "arial", sans-serif;
}

.input:-ms-input-placeholder {
  font-family: "Questrial", "arial", sans-serif;
}

.input::-ms-input-placeholder {
  font-family: "Questrial", "arial", sans-serif;
}

.input::placeholder {
  font-family: "Questrial", "arial", sans-serif;
}

.input-light {
  border-color: #fff;
  color: #fff;
}

.button,
.button-secondary,
.button-secondary--light,
.button-primary,
.button-primary--light {
  display: block;
  border-radius: 0.25rem;
  padding: 1rem;
  border: none;
  font-weight: 600;
  font-size: 0.9em;
  text-decoration: none;
  font-family: "Questrial", "arial", sans-serif;
}

.button-primary,
.button-primary--light {
  background: #25A122;
  color: #fff;
}

.button-primary--light {
  background: #fff;
  color: #26272D;
}

.button-secondary,
.button-secondary--light {
  background: none;
  border: 2px solid #25A122;
  color: #25A122;
  width: auto;
}

.button-secondary--light {
  color: #fff;
  border-color: #fff;
}

.login,
.register {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh;
  width: 100%;
}

.login__head,
.login__form,
.register__head,
.register__form {
  max-width: 400px;
}

.login__head,
.register__head {
  display: flex;
  align-self: center;
  justify-content: center;
}

.login__logo,
.register__logo {
  width: 80%;
  max-width: 300px;
}

.login__err,
.login__err--show,
.register__err--show,
.register__err {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: #e3342f;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.login__err--show,
.register__err--show {
  opacity: 1;
}

.login__err > img,
.login__err--show > img,
.register__err--show > img,
.register__err > img {
  height: 1em;
  width: auto;
  padding: 0.1em;
  margin: 0 0.5em;
  position: relative;
  top: 0.1em;
}

.login .input,
.register .input {
  text-align: center;
}

.login .button,
.login .button-secondary,
.login .button-secondary--light,
.login .button-primary,
.login .button-primary--light,
.register .button,
.register .button-secondary,
.register .button-secondary--light,
.register .button-primary,
.register .button-primary--light {
  width: 100%;
  text-align: center;
  margin: 0.25rem 0;
}

.login .button-secondary,
.login .button-secondary--light,
.register .button-secondary,
.register .button-secondary--light {
  width: calc(100% - 2.8em);
}

.login {
  grid-template-rows: 4fr 6fr;
}

.login__reg-link {
  border-bottom: 1px solid #d3d3d3;
  color: grey;
  display: block;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.75em 0;
  text-decoration: none;
  font-size: 0.8em;
}

.login__head {
  position: relative;
  height: 100%;
}

.login__logo {
  margin: 0 auto;
}

.login__x {
  height: 2em;
  padding: 1em;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 0;
}

.register {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  max-width: unset;
  padding: 1rem;
  background: #26272D;
  grid-template-rows: 2fr 8fr;
  z-index: 100;
  transition: all 0.75s cubic-bezier(0.58, -0.26, 0.45, 1.33);
}

.register__head {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.register__logo {
  width: 50%;
  max-width: 200px;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register .input {
  color: #fff;
}

.register .input::-webkit-input-placeholder {
  color: #fff;
}

.register .input::-moz-placeholder {
  color: #fff;
}

.register .input:-ms-input-placeholder {
  color: #fff;
}

.register .input::-ms-input-placeholder {
  color: #fff;
}

.register .input::placeholder {
  color: #fff;
}

.register .button--primary {
  background: #fff;
  color: #26272D;
}

.navigation {
  background: #fff;
  display: flex;
  align-items: center;
}

.navigation__list {
  border-top: 2px solid #e3e3e3;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

.navigation__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  color: inherit;
  font-size: 0.8em;
  padding: 0 1em;
  opacity: 0.3;
}

.navigation__link.active {
  opacity: 1;
}

.navigation__link > img {
  height: 2.25em;
  width: auto;
  margin-bottom: 0.5em;
}

.overlay,
.overlay--hidden {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.overlay--hidden {
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.slide-menu,
.slide-menu--hidden {
  background: #fff;
  height: 100%;
  width: 80%;
  max-width: 400px;
  position: fixed;
  padding: 1em;
  right: 0;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.44, -0.23, 0.57, 1);
}

.slide-menu__name {
  font-size: 1.5em;
}

.slide-menu__create-link {
  position: absolute;
  bottom: 0;
}

.slide-menu__content {
  height: 100%;
  display: grid;
  grid-template-rows: 3fr 5fr 2fr;
}

.slide-menu__content-main {
  font-size: 1.2em;
  position: relative;
}

.slide-menu__content .button,
.slide-menu__content .button-secondary,
.slide-menu__content .button-secondary--light,
.slide-menu__content .button-primary,
.slide-menu__content .button-primary--light {
  width: 100%;
}

.slide-menu__content .button-primary,
.slide-menu__content .button-primary--light {
  width: calc(100% - 2.5em);
}

.slide-menu__content .button-secondary,
.slide-menu__content .button-secondary--light {
  width: calc(100% - 2.5em);
}

.slide-menu__content .button,
.slide-menu__content .button-secondary--light,
.slide-menu__content .button-primary--light,
.slide-menu__content .button-primary,
.slide-menu__content .button-secondary {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.slide-menu--hidden {
  right: -100%;
}

.cr-wrapper {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-rows: 8.5fr 1.5fr;
}

.cr-wrapper.popout,
.cr-wrapper.popout--hidden {
  z-index: 101;
  transition: all 0.5s cubic-bezier(0.44, -0.53, 0.57, 1.3);
  top: 0;
}

.cr-wrapper.popout--hidden {
  top: 100%;
}

.create-recipe {
  overflow: auto;
  overflow-x: hidden;
}

.create-recipe__head {
  margin-top: 1em;
  padding: 1em;
  border-bottom: 1px solid #e3e3e3;
  color: grey;
}

.create-recipe__head-title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

.create-recipe__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-recipe__footer .button-primary,
.create-recipe__footer .button-primary--light {
  width: calc(80% - 1em);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.create-recipe__footer .button-secondary,
.create-recipe__footer .button-secondary--light {
  width: 20%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-color: #e3e3e3;
  padding: 1em;
}

.create-recipe__footer .button-secondary > img,
.create-recipe__footer .button-secondary--light > img {
  height: 1.2em;
}

.create-recipe__form {
  margin-top: 2em;
}

.create-recipe__input {
  border: none;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 0;
  margin-bottom: 1.5em;
  transition: border-color 0.25s ease-in-out;
}

.create-recipe__input:focus {
  border-color: #222;
}

.create-recipe__label {
  color: grey;
  margin: 0;
}

.create-recipe__label--emph {
  font-size: 0.7em;
  margin-left: 0.5em;
}

.create-recipe .button-secondary,
.create-recipe .button-secondary--light {
  width: 100%;
  margin: 1.5em 0;
  border-radius: 3em;
  padding: 1em 0;
  color: #222;
  border-color: #e3e3e3;
}

.saved__title {
  font-weight: 500;
}

