@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.container,
.login__head,
.login__form,
.register__head,
.register__form,
.login,
.register,
.register--hidden {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

.input {
  width: calc(100% - 2rem);
  padding: 1rem;
  background: none;
  border: 1px solid #e3e3e3;
  border-radius: 0.25rem;
  color: grey;
  margin: 0.25rem 0;
  font-size: 0.9em;
}

.input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
}

.input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.input::placeholder {
  font-family: "Poppins", sans-serif;
}

.input-light {
  border-color: #fff;
  color: #fff;
}

.button,
.button-secondary,
.button-secondary--light,
.button-primary,
.button-primary--light {
  border-radius: 0.25rem;
  padding: 1rem;
  border: none;
  font-weight: 600;
  font-size: 0.9em;
}

.button-primary,
.button-primary--light {
  background: #ED200E;
  color: #fff;
}

.button-primary--light {
  background: #fff;
  color: #26272D;
}

.button-secondary,
.button-secondary--light {
  background: none;
  border: 2px solid #ED200E;
  color: #ED200E;
}

.button-secondary--light {
  color: #fff;
  border-color: #fff;
}

.login,
.register,
.register--hidden {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh;
  width: 100%;
}

.login__head,
.login__form,
.register__head,
.register__form {
  max-width: 400px;
}

.login__head,
.register__head {
  display: flex;
  align-self: center;
  justify-content: center;
}

.login__logo,
.register__logo {
  width: 80%;
  max-width: 300px;
}

.login .input,
.register .input,
.register--hidden .input {
  text-align: center;
}

.login .button,
.login .button-secondary,
.login .button-secondary--light,
.login .button-primary,
.login .button-primary--light,
.register .button,
.register--hidden .button,
.register .button-secondary,
.register--hidden .button-secondary,
.register .button-secondary--light,
.register--hidden .button-secondary--light,
.register .button-primary,
.register--hidden .button-primary,
.register .button-primary--light,
.register--hidden .button-primary--light {
  width: 100%;
  text-align: center;
  margin: 0.25rem 0;
}

.login__reg-link {
  border-bottom: 1px solid #d3d3d3;
  color: grey;
  display: block;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.75em 0;
}

.register,
.register--hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  max-width: unset;
  padding: 1rem;
  background: #26272D;
  grid-template-rows: 2fr 8fr;
  transition: all 0.75s cubic-bezier(0.58, -0.26, 0.45, 1.33);
}

.register__head {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.register__logo {
  width: 50%;
  max-width: 200px;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register .input,
.register--hidden .input {
  color: #fff;
}

.register .input::-webkit-input-placeholder, .register--hidden .input::-webkit-input-placeholder {
  color: #fff;
}

.register .input::-moz-placeholder, .register--hidden .input::-moz-placeholder {
  color: #fff;
}

.register .input:-ms-input-placeholder, .register--hidden .input:-ms-input-placeholder {
  color: #fff;
}

.register .input::-ms-input-placeholder, .register--hidden .input::-ms-input-placeholder {
  color: #fff;
}

.register .input::placeholder,
.register--hidden .input::placeholder {
  color: #fff;
}

.register .button--primary,
.register--hidden .button--primary {
  background: #fff;
  color: #26272D;
}

.register--hidden {
  top: 100%;
}

